<%- include('includes/navbar.ejs') %>
<form action="/entry" class="my-4 mx-4" method="post">
    <input type="date" id="birthday" name="birthday">
    <button type="submit" class=" btn btn-warning ">Submit</button>
</form>